.markdown {
  ol.large-numbers {
    counter-reset: list-number;
    list-style-type: none;
    margin-bottom: 2rem;

    li {
      display: flex;
      align-items: center;
      gap: 0.8em;
      counter-increment: list-number;
      margin-bottom: 1rem;
      font-weight: 600;
    }

    li::before {
      content: counter(list-number);
      flex-shrink: 0;
      width: 32px;
      height: 32px;
      border: 1px solid #999;
      padding: 3px;
      border-radius: 100px;
      text-align: center;
      font-weight: normal;
    }
  }
}
